.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

build/__pycache__/
module_ocr_tool/.pytest_cache/
module_ocr_tool/__pycache__/
module_ocr_tool/app/__pycache__/
module_ocr_tool/tests/__pycache__/

dist/
